@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/avenirnextcyr-regular.ttf) format("ttf");
  }
}

@layer utilities {
  .scrollbar-table::-webkit-scrollbar {
    width: 3px;
    height: 16px;
    border-radius: 2px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.roundedText {
  background: url("./assets/roundedText.png") no-repeat;
  background-position: top -60px right -26px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

.table-card::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.table-card::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: white;
  border-left: 1.25px solid transparent;
  border-right: 1.25px solid transparent;
}

.table-card::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #e75626;
}

.stroke-text {
  color: transparent;
  -webkit-text-fill-color: #171719;
  -webkit-text-stroke-width: 1px;
}

.table-card::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.table-card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 3px white;
  border-radius: 1.25px;
  background-color: transparent;
  border-left: 1.25px solid transparent;
  border-right: 1.25px solid transparent;
}

.table-card::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #e75626;
}
